:root {
  --accent-primary-900: #c79b3b;
  --accent-primary-800: #d1a545;
  --accent-primary-main: #dbaf4f;
  --accent-primary-600: rgba(219, 175, 79, 0.88);
  --accent-primary-500: rgba(219, 175, 79, 0.64);
  --accent-primary-400: rgba(219, 175, 79, 0.4);
  --accent-primary-300: rgba(219, 175, 79, 0.12);
  --accent-primary-200: rgba(219, 175, 79, 0.1);
  --accent-primary-100: rgba(219, 175, 79, 0.04);
  --accent-secondary-900: #4362e1;
  --accent-secondary-800: #5776f5;
  --accent-secondary-main: #6180ff;
  --accent-secondary-600: rgba(97, 128, 255, 0.88);
  --accent-secondary-500: rgba(97, 128, 255, 0.64);
  --accent-secondary-400: rgba(97, 128, 255, 0.4);
  --accent-secondary-300: rgba(97, 128, 255, 0.12);
  --accent-secondary-200: rgba(97, 128, 255, 0.1);
  --accent-secondary-100: rgba(97, 128, 255, 0.04);
  --accent-tertiary-900: #d84d38;
  --accent-tertiary-800: #e25742;
  --accent-tertiary-main: #ec614c;
  --accent-tertiary-600: rgba(236, 97, 76, 0.88);
  --accent-tertiary-500: rgba(236, 97, 76, 0.64);
  --accent-tertiary-400: rgba(236, 97, 76, 0.4);
  --accent-tertiary-300: rgba(236, 97, 76, 0.12);
  --accent-tertiary-200: rgba(236, 97, 76, 0.1);
  --accent-tertiary-100: rgba(236, 97, 76, 0.04);
  --system-caution-900: #c79b3b;
  --system-caution-800: #d1a545;
  --system-caution-main: #dbaf4f;
  --system-caution-600: rgba(219, 175, 79, 0.88);
  --system-caution-500: rgba(219, 175, 79, 0.64);
  --system-caution-400: rgba(219, 175, 79, 0.4);
  --system-caution-300: rgba(219, 175, 79, 0.12);
  --system-caution-200: rgba(219, 175, 79, 0.1);
  --system-caution-100: rgba(219, 175, 79, 0.04);
  --system-info-900: #4362e1;
  --system-info-800: #5776f5;
  --system-info-main: #6180ff;
  --system-info-600: rgba(97, 128, 255, 0.88);
  --system-info-500: rgba(97, 128, 255, 0.64);
  --system-info-400: rgba(97, 128, 255, 0.4);
  --system-info-300: rgba(97, 128, 255, 0.12);
  --system-info-200: rgba(97, 128, 255, 0.1);
  --system-info-100: rgba(97, 128, 255, 0.04);
  --system-critical-900: #d84d38;
  --system-critical-800: #e25742;
  --system-critical-main: #ec614c;
  --system-critical-600: rgba(236, 97, 76, 0.88);
  --system-critical-500: rgba(236, 97, 76, 0.64);
  --system-critical-400: rgba(236, 97, 76, 0.4);
  --system-critical-300: rgba(236, 97, 76, 0.12);
  --system-critical-200: rgba(236, 97, 76, 0.1);
  --system-critical-100: rgba(236, 97, 76, 0.04);
  --system-success-900: #25993a;
  --system-success-800: #2fa344;
  --system-success-main: #39ad4e;
  --system-success-600: rgba(57, 173, 78, 0.88);
  --system-success-500: rgba(57, 173, 78, 0.64);
  --system-success-400: rgba(57, 173, 78, 0.4);
  --system-success-300: rgba(57, 173, 78, 0.12);
  --system-success-200: rgba(57, 173, 78, 0.1);
  --system-success-100: rgba(57, 173, 78, 0.04);
  --system-neutral-900: #767676;
  --system-neutral-800: #808080;
  --system-neutral-main: #8a8a8a;
  --system-neutral-600: rgba(138, 138, 138, 0.88);
  --system-neutral-500: rgba(138, 138, 138, 0.64);
  --system-neutral-400: rgba(138, 138, 138, 0.4);
  --system-neutral-300: rgba(138, 138, 138, 0.12);
  --system-neutral-200: rgba(138, 138, 138, 0.1);
  --system-neutral-100: rgba(138, 138, 138, 0.04);
  --grayscale-black: #0c101a;
  --grayscale-96: #161a23;
  --grayscale-92: #1f232c;
  --grayscale-88: #292d36;
  --grayscale-72: #50535a;
  --grayscale-60: #6d7076;
  --grayscale-40: #9e9fa3;
  --grayscale-20: #cecfd1;
  --grayscale-11: #e4e5e6;
  --grayscale-7: #eeeeef;
  --grayscale-4: #f5f5f6;
  --grayscale-white: #fff;
  --transparent-black-main: #0c101a;
  --transparent-black-600: rgba(12, 16, 26, 0.88);
  --transparent-black-500: rgba(12, 16, 26, 0.64);
  --transparent-black-400: rgba(12, 16, 26, 0.4);
  --transparent-black-300: rgba(12, 16, 26, 0.12);
  --transparent-black-200: rgba(12, 16, 26, 0.1);
  --transparent-black-100: rgba(12, 16, 26, 0.04);
  --transparent-white-main: #fff;
  --transparent-white-600: rgba(255, 255, 255, 0.88);
  --transparent-white-500: rgba(255, 255, 255, 0.64);
  --transparent-white-400: rgba(255, 255, 255, 0.4);
  --transparent-white-300: rgba(255, 255, 255, 0.12);
  --transparent-white-200: rgba(255, 255, 255, 0.1);
  --transparent-white-100: rgba(255, 255, 255, 0.04);
  --text-colorprimary: null;
  --text-colorsecondary: null;
  --text-oncolor: null;
  --text-primary: var(--yellow-300);
  --text-primary-hover: var(--yellow-200);
  --text-primary-active: var(--yellow-100);
  --text-secondary: null;
  --text-secondary-hover: null;
  --text-secondary-active: null;
  --text-tertiary: null;
  --text-caution-hover: null;
  --text-caution-active: null;
  --text-tertiary-hover: null;
  --text-tertiary-active: null;
  --text-caution: null;
  --text-info: null;
  --text-info-hover: null;
  --text-info-active: null;
  --text-critical: null;
  --text-critical-hover: null;
  --text-critical-active: #d84d38;
  --text-succes: null;
  --text-success-hover: null;
  --text-success-active: null;
  --text-neutral: null;
  --text-neutral-hover: null;
  --text-neutral-active: null;
  --text-inverse: null;
  --border-colorprimary: null;
  --border-colorsecondary: null;
  --border-oncolor: null;
  --border-primary: null;
  --border-primary-subdued: null;
  --border-secondary: null;
  --border-secondary-subdued: null;
  --border-tertiary: null;
  --border-tertiary-subdued: null;
  --border-caution: null;
  --border-caution-subdued: null;
  --border-info: null;
  --border-info-subdued: null;
  --border-critical: null;
  --border-critical-subdued: null;
  --border-succes: null;
  --border-success-subdued: null;
  --border-neutral: null;
  --border-neutral-subdued: null;
  --border-inverse: null;
  --bg-colorprimary: null;
  --bg-colorsecondary: null;
  --bg-primary: null;
  --bg-primary-hover: null;
  --bg-primary-active: null;
  --bg-secondary: null;
  --bg-secondary-hover: null;
  --bg-secondary-active: null;
  --bg-tertiary: null;
  --bg-tertiary-hover: null;
  --bg-tertiary-active: null;
  --bg-caution: null;
  --bg-caution-hover: null;
  --bg-caution-active: null;
  --bg-info: null;
  --bg-info-hover: null;
  --bg-info-active: null;
  --bg-critical: null;
  --bg-critical-hover: null;
  --bg-critical-active: null;
  --bg-success: null;
  --bg-success-hover: null;
  --bg-success-active: null;
  --bg-neutral: null;
  --bg-neutral-hover: null;
  --bg-neutral-active: null;
  --bg-inverse: null;
  --bg-colorteartiary: null;
  --bg-primary-subdued: null;
  --bg-secondary-subdued: null;
  --bg-tertiary-subdued: null;
  --bg-caution-subdued: rgba(219, 175, 79, 0.12);
  --bg-info-subdued: null;
  --bg-critical-subdued: null;
  --bg-succes-subdued: null;
  --bg-neutral-subdued: null;
  --icons-colorprimary: null;
  --icons-colorsecondary: null;
  --icons-oncolor: null;
  --icons-primary: null;
  --icons-primary-subdued: null;
  --icons-secondary: null;
  --icons-secondary-subdued: null;
  --icons-tertiary: null;
  --icons-tertiary-subdued: null;
  --icons-caution: null;
  --icons-caution-subdued: null;
  --icons-info: null;
  --icons-info-subdued: null;
  --icons-critical: null;
  --icons-critical-subdued: null;
  --icons-success: null;
  --icons-success-subdued: null;
  --icons-neutral: null;
  --icons-neutral-subdued: null;
  --icons-inverse: null;
  --icons-colortertiary: null;
  --text-colortertiary: null;
  --social-youtube-900: #d84d38;
  --social-youtube-800: #e25742;
  --social-youtube-main: #ec614c;
  --social-youtube-600: rgba(236, 97, 76, 0.88);
  --social-youtube-500: rgba(236, 97, 76, 0.64);
  --social-youtube-400: rgba(236, 97, 76, 0.4);
  --social-youtube-300: rgba(236, 97, 76, 0.12);
  --social-youtube-200: rgba(236, 97, 76, 0.1);
  --social-youtube-100: rgba(236, 97, 76, 0.04);
  --social-twitch-900: #4c41cb;
  --social-twitch-800: #564bd5;
  --social-twitch-main: #6055df;
  --social-twitch-600: rgba(96, 85, 223, 0.88);
  --social-twitch-500: rgba(96, 85, 223, 0.64);
  --social-twitch-400: rgba(96, 85, 223, 0.4);
  --social-twitch-300: rgba(96, 85, 223, 0.12);
  --social-twitch-200: rgba(96, 85, 223, 0.1);
  --social-twitch-100: rgba(96, 85, 223, 0.04);
  --social-telegram-900: #0288c9;
  --social-telegram-800: #0c92d3;
  --social-telegram-main: #169cdd;
  --social-telegram-600: rgba(22, 156, 221, 0.88);
  --social-telegram-500: rgba(22, 156, 221, 0.64);
  --social-telegram-400: rgba(22, 156, 221, 0.4);
  --social-telegram-300: rgba(22, 156, 221, 0.12);
  --social-telegram-200: rgba(22, 156, 221, 0.1);
  --social-telegram-100: rgba(22, 156, 221, 0.04);
  --social-vk-900: #0068e0;
  --social-vk-800: #0972ea;
  --social-vk-main: #137cf4;
  --social-vk-600: rgba(19, 124, 244, 0.88);
  --social-vk-500: rgba(19, 124, 244, 0.64);
  --social-vk-400: rgba(19, 124, 244, 0.4);
  --social-vk-300: rgba(19, 124, 244, 0.12);
  --social-vk-200: rgba(19, 124, 244, 0.1);
  --social-vk-100: rgba(19, 124, 244, 0.04);
  --bg-twitch: null;
  --bg-twitch-hover: null;
  --bg-twitch-active: null;
  --bg-twitch-subdued: null;
  --bg-youtube: null;
  --bg-youtube-hover: null;
  --bg-youtube-active: null;
  --bg-youtube-subdued: null;
  --bg-vk: null;
  --bg-vk-hover: null;
  --bg-vk-active: null;
  --bg-vk-subdued: null;
  --bg-telegram: null;
  --bg-telegram-hover: null;
  --bg-telegram-active: null;
  --bg-telegram-subdued: null;
  --bg-oncolor: null;
  --text-oncolor-secondary: null;
  --bg-bgr-cover: null;
  --games-dota-2-900: #831b07;
  --games-dota-2-800: #8d2511;
  --games-dota-2-main: #972f1b;
  --games-dota-2-600: rgba(151, 47, 27, 0.88);
  --games-dota-2-500: rgba(151, 47, 27, 0.64);
  --games-dota-2-400: rgba(151, 47, 27, 0.4);
  --games-dota-2-300: rgba(151, 47, 27, 0.12);
  --games-dota-2-200: rgba(151, 47, 27, 0.1);
  --games-dota-2-100: rgba(151, 47, 27, 0.04);
  --bg-dota2: null;
  --games-cs-2-900: #14256b;
  --games-cs-2-800: #1e2f75;
  --games-cs-2-main: #28397f;
  --games-cs-2-600: rgba(40, 57, 127, 0.88);
  --games-cs-2-500: rgba(40, 57, 127, 0.64);
  --games-cs-2-400: rgba(40, 57, 127, 0.4);
  --games-cs-2-300: rgba(40, 57, 127, 0.12);
  --games-cs-2-200: rgba(40, 57, 127, 0.1);
  --games-cs-2-100: rgba(40, 57, 127, 0.04);
  --bg-cs2: null;
  --bg-dota2-subdued: null;
  --bg-cs2-subdued: null;
  --text-oncolor-inverse: null;
  --icons-oncolor-inverse: null;
  --icons-color: #fff;
  --icons-oncolor-secondary: null;
  --text-colorquadrateary: null;
  --bg-colorquadratiary: null;
  --socials-vk: #4e73ed;
  --socials-whatsapp: #1ebd3d;
  --socials-tg: #47a4d2;
  --text-oncolor-black-primary: null;
  --text-oncolor-white-primary: null;
  --text-oncolor-white-secondary: null;
  --bg-oncolor-inverse: null;
  --icons-oncolor-inverse: null;

  --font-family: 'Inter', sans-serif;
  --second-family: 'SF Pro Display', sans-serif;
}
