html,
body {
  font-size: rem($em-base);
  background-color: var(--body-bg);
  color: var(--body-color);
}

.main-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  --containerGutter: #{rem(6)};
  max-width: 100%;
  padding: 0 var(--containerGutter);
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    --containerGutter: #{rem(12)};
    padding: 0 var(--containerGutter);
  }
  @each $key, $val in $container-max-widths {
    @include media-breakpoint-up($key) {
      max-width: calc($val + var(--containerGutter) * 2);
    }
  }
}

.row {
  display: flex;
  align-items: center;
  @include roww($m: m);
}

.col {
  flex: 1 0 0%;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: block !important;
}

@each $key, $val in $grid-breakpoints {
  .d-#{$key}-none {
    @include media-breakpoint-up($key) {
      display: none !important;
    }
  }
  .d-#{$key}-block {
    @include media-breakpoint-up($key) {
      display: block !important;
    }
  }
  .d-#{$key}-flex {
    @include media-breakpoint-up($key) {
      display: flex !important;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--body-color);
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

h1,
.h1 {
  font-size: rem(24);
  @include media-breakpoint-up(md) {
    font-size: rem(48);
  }
}
h2,
.h2 {
  font-size: rem(20);
  @include media-breakpoint-up(md) {
    font-size: rem(40);
  }
}
h3,
.h3 {
  font-size: rem(16);
  @include media-breakpoint-up(md) {
    font-size: rem(36);
  }
}
h4,
.h4 {
  font-size: rem(14);
  @include media-breakpoint-up(md) {
    font-size: rem(30);
  }
}
h5,
.h5 {
  font-size: rem(12);
  @include media-breakpoint-up(md) {
    font-size: rem(24);
  }
}
h6,
.h6 {
  font-size: rem(10);
  @include media-breakpoint-up(md) {
    font-size: rem(20);
  }
}

p {
  margin: 0;
}

.p-button {
  line-height: calc(20 / 14);
  padding: rem(11) rem(24);
  font-size: rem(14);
  border-radius: rem(12);
  font-weight: 600;
  &-primary {
  }
}

.icons {
  font-size: rem(16);

  width: 1em;
  height: 1em;
  &-logo {
    font-size: rem(160);
    width: 1em;
    height: 0.3em;
  }
}

.img-wrap-center {
  @include a-cent;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  img.object-fit-js {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.template {
  padding: rem(6);
  border-radius: rem(20);
  border: 1px solid var(--gray-100);
  @include media-breakpoint-up(lg) {
    padding: rem(48);
  }
}

.p-paginator {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 rem(62) 0;
  background-color: transparent;
  @include media-breakpoint-up(lg) {
    padding: 0px rem(260);
  }
  .p-paginator-left-content {
    width: 100%;
    margin-bottom: rem(18);
    text-align: center;
    font-size: rem(12);
    font-weight: 400;
    line-height: 1.33;
    color: var(--gray-500);
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      max-width: calc(100% - rem(610));
      margin-bottom: 0;
      text-align: left;
    }
  }
  .p-dropdown {
    position: absolute;
    margin: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include media-breakpoint-up(lg) {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: unset;
      bottom: unset;
    }
  }
  .p-paginator-element {
    @include mt;
    width: rem(44);
    height: rem(44);
    border-radius: rem(10);
    svg {
      color: var(--gray-500);
    }
    &:hover {
      background-color: var(--primary-300);
      color: var(--text-color);
      svg {
        color: var(--text-color);
      }
    }
  }
  .p-paginator-pages {
    .p-paginator-page {
      color: var(--gray-500);
      min-width: rem(44);
      height: rem(44);
      margin: 0 rem(2);
      border-radius: rem(10);
      font-size: rem(12);
      font-weight: 600;
      line-height: 1.33;
      &.p-highlight,
      &:hover {
        color: var(--text-color);
      }
    }
  }
}
