html,
body {
  font-size: rem($em-base);
  background-color: var(--body-bg);
  color: var(--body-color);
}

.main-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  --containerGutter: #{rem(6)};
  max-width: 100%;
  padding: 0 var(--containerGutter);
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    --containerGutter: #{rem(12)};
    padding: 0 var(--containerGutter);
  }
  @each $key, $val in $container-max-widths {
    @include media-breakpoint-up($key) {
      max-width: calc($val + var(--containerGutter) * 2);
    }
  }
}

.row {
  display: flex;
  align-items: center;
  @include roww($m: m);
}

.col {
  flex: 1 0 0%;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: block !important;
}

@each $key, $val in $grid-breakpoints {
  .d-#{$key}-none {
    @include media-breakpoint-up($key) {
      display: none !important;
    }
  }
  .d-#{$key}-block {
    @include media-breakpoint-up($key) {
      display: block !important;
    }
  }
  .d-#{$key}-flex {
    @include media-breakpoint-up($key) {
      display: flex !important;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--body-color);
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

h1,
.h1 {
  font-size: rem(30);
  @include media-breakpoint-up(lg) {
    font-size: rem(48);
  }
}
h2,
.h2 {
  font-size: rem(24);
  @include media-breakpoint-up(lg) {
    font-size: rem(40);
  }
}
h3,
.h3 {
  font-size: rem(22);
  @include media-breakpoint-up(lg) {
    font-size: rem(36);
  }
}
h4,
.h4 {
  font-size: rem(20);
  @include media-breakpoint-up(lg) {
    font-size: rem(30);
  }
}
h5,
.h5 {
  font-size: rem(18);
  @include media-breakpoint-up(lg) {
    font-size: rem(24);
  }
}
h6,
.h6 {
  font-size: rem(10);
  @include media-breakpoint-up(lg) {
    font-size: rem(20);
  }
}

p {
  margin: 0;
  color: var(--body-color);
}

.p-button {
  line-height: calc(20 / 14);
  padding: rem(11) rem(24);
  font-size: rem(14);
  border-radius: rem(12);
  font-weight: 600;
  &:focus {
    box-shadow: none;
  }
  &-secondary {
    background: var(--bluegray-300);
    border: 1px solid var(--bluegray-300);
    &:hover {
      background: var(--bluegray-200);
      border: 1px solid var(--bluegray-200);
    }
    &:focus {
      background: var(--bluegray-100);
      border: 1px solid var(--bluegray-100);
    }
  }
  &-gray {
    background: var(--gray-50);
    border: 1px solid var(--gray-50);
    color: var(--gray-500);
    &:hover {
      color: var(--gray-700);
    }
    &:focus {
      background: var(--gray-200);
      border: 1px solid var(--gray-200);
      color: var(--gray-700);
    }
  }
  .p-disabled,
  .p-component:disabled {
    opacity: 0.6;
  }
  &.btn-lg {
    padding: rem(17) rem(24);
  }
}

.icons {
  font-size: rem(16);

  width: 1em;
  height: 1em;
  &-logo {
    font-size: rem(160);
    width: 1em;
    height: 0.3em;
  }
}

.img-wrap-center {
  @include a-cent;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    height: auto;
  }
  img.object-fit-js {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.template {
  padding: rem(6);
  border-radius: rem(20);
  border: 1px solid var(--gray-100);
  @include media-breakpoint-up(lg) {
    padding: rem(48);
  }
}

.p-paginator {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 rem(62) 0;
  background-color: transparent;
  @include media-breakpoint-up(lg) {
    padding: 0px rem(260);
  }
  .p-paginator-left-content {
    width: 100%;
    margin-bottom: rem(18);
    text-align: center;
    font-size: rem(12);
    font-weight: 400;
    line-height: 1.33;
    color: var(--gray-500);
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      max-width: calc(100% - rem(610));
      margin-bottom: 0;
      text-align: left;
    }
  }
  .p-dropdown {
    position: absolute;
    margin: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: transparent;
    border: 1px solid var(--gray-200);
    border-radius: rem(10);
    height: rem(44);
    &:before {
      content: 'Показать по';
      position: absolute;
      display: block;
      font-size: rem(12);
      line-height: 1.33;
      color: var(--gray-500);
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + rem(10));
      width: max-content;
    }
    @include media-breakpoint-up(lg) {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: unset;
      bottom: unset;
    }
    .p-dropdown-label {
      font-size: rem(14);
      line-height: 1.42;
      color: var(--gray-700);
      padding: rem(11) rem(10) rem(11) rem(11);
    }
    &:not(.p-disabled).p-focus {
      box-shadow: none;
    }
    &-trigger {
      width: rem(29);
    }
    .p-icon {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
  .p-paginator-element {
    @include mt;
    width: rem(44);
    height: rem(44);
    border-radius: rem(10);
    svg {
      @include mt;
      color: var(--gray-500);
    }
    &:hover {
      background-color: var(--primary-300);
      color: var(--text-color);
      svg {
        color: var(--text-color);
      }
    }
  }
  .p-paginator-pages {
    .p-paginator-page {
      color: var(--gray-500);
      min-width: rem(44);
      height: rem(44);
      margin: 0 rem(2);
      border-radius: rem(10);
      font-size: rem(12);
      font-weight: 600;
      line-height: 1.33;
      &.p-highlight,
      &:hover {
        color: var(--text-color);
      }
    }
  }
}

.bg-wrap {
  position: relative;
  z-index: 2;
}

.picture-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.p-breadcrumb {
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 rem(-24) rem(12) rem(-24);
  &-list {
    margin: 0 auto;
    max-width: max-content;
    .p-menuitem {
      font-size: rem(12);
      line-height: 1.33;
      text-wrap: nowrap;
      &:first-child {
        margin-left: rem(24);
      }
      &:last-child {
        span {
          margin-right: rem(24);
        }
      }
      a {
        @include mt;
        color: #fff;
        &:hover {
          color: var(--primary-300);
        }
      }
      &:last-child {
        color: rgba(255, 255, 255, 0.64);
      }
    }
    .p-menuitem-separator {
      margin: 0 rem(6);
      color: #fff;
    }
  }
}

.p-badge {
  font-size: rem(12);
  font-weight: 600;
  line-height: 1.33;
  padding: rem(6) rem(10);
  border-radius: rem(8);
  min-height: rem(28);
  height: auto;
  &-secondary {
    background-color: var(--bluegray-400);
    color: #fff;
  }
}

.text-center {
  text-align: center;
}

.p-dialog {
  position: relative;
  width: 100%;
  max-width: rem(520);
  box-shadow: none;
  border-radius: rem(12);
  max-height: 100%;
  @include media-breakpoint-up(lg) {
    border-radius: rem(24);
  }
  .p-dialog-header {
    padding: rem(56) rem(24) rem(24);
    justify-content: center;
    border: none;
    border-radius: rem(12) rem(12) 0 0;
    background-color: var(--surface-a);
    @include media-breakpoint-up(lg) {
      border-radius: rem(24) rem(24) 0 0;
      padding: rem(64) rem(48) rem(24);
    }
  }
  .p-dialog-title {
    text-align: center;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: rem(-0.96);
    color: var(--gray-700);
    @include media-breakpoint-up(lg) {
      font-size: rem(40);
      line-height: 1.2;
    }
  }
  p {
    line-height: 1.5;
    margin-bottom: rem(24);
    color: var(--gray-500);
    text-align: center;
  }
  .p-dialog-header-icons {
    position: absolute;
    top: rem(12);
    right: rem(12);
    @include media-breakpoint-up(lg) {
      top: rem(20);
      right: rem(20);
    }
    .p-dialog-header-icon {
      width: rem(44);
      height: rem(44);
      border-radius: rem(14);
      background-color: var(--gray-50);
      color: var(--gray-700);
      &:hover {
        background-color: var(--gray-200);
      }
    }
  }
  .p-dialog-content {
    padding: 0 rem(24) rem(24);
    background-color: var(--surface-a);
    @include media-breakpoint-up(lg) {
      padding: 0 rem(48) rem(48);
    }
    &:last-of-type {
      border-bottom-right-radius: rem(12);
      border-bottom-left-radius: rem(12);
      @include media-breakpoint-up(lg) {
        border-bottom-right-radius: rem(24);
        border-bottom-left-radius: rem(24);
      }
    }
    button {
      width: 100%;
      justify-content: center;
    }
  }
}

.p-component-overlay {
  background-color: rgba(12, 16, 26, 0.4) !important;
}
