@import 'vars.scss';
@import 'mixin.scss';
@import '_root.scss';
@import './themes/lightTheme/theme.scss';
@import './dark-theme.scss';

@import './base.scss';

// Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/contacts.scss';
@import './components/sNews.scss';
@import './components/sNewsCard.scss';
@import './components/sSubscribe.scss';
@import './components/sHeaderBlock.scss';
@import './components/sContent.scss';
@import './components/sCurrentSponsors.scss';
@import './components/sSponsorsAdvantages.scss';
