@import 'vars.scss';
@import 'mixin.scss';
@import '_root.scss';
@import './themes/lightTheme/theme.scss';
@import './dark-theme.scss';

@import './base.scss';

// Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/form-wrap.scss';
@import './components/contacts.scss';
@import './components/sNews.scss';
@import './components/sNewsCard.scss';
@import './components/sSubscribe.scss';
@import './components/sHeaderBlock.scss';
@import './components/sContent.scss';
@import './components/sCurrentSponsors.scss';
@import './components/sSponsorsAdvantages.scss';
@import './components/sContactBlock.scss';
@import './components/sError.scss';
@import './components/sRelatedNews.scss';
@import './components/sAboutHead.scss';
@import './components/sAboutBody.scss';
@import './components/sRatingBlock.scss';
@import './components/sPlayerTeams.scss';
@import './components/sProfileHead.scss';
@import './components/sMyTeamBlock.scss';
@import './components/sMainHeader.scss';
@import './components/sWelcome.scss';
@import './components/sMainContentBlock.scss';
@import './components/sMyProfileBlock.scss';
