.footer {
  padding: rem(6) 0;
  @include media-breakpoint-up(lg) {
    padding: rem(12) 0;
  }
  &__wrap {
    border: 1px solid var(--gray-100);
    padding: rem(48) rem(24) 0 rem(24);
    border-radius: rem(20);
    @include media-breakpoint-up(lg) {
      padding: rem(48);
    }
  }
  .row {
    --gutter-y: #{rem(24)};
  }
  &__logo-text {
    display: block;
    width: 100%;
    max-width: rem(1280);
    height: auto;
    margin: rem(18) 0;
    @include media-breakpoint-up(lg) {
      margin: 0 auto rem(60) auto;
    }
    svg {
      width: 100%;
    }
  }
  &__row-wrap {
    padding-bottom: rem(24);
    margin-bottom: rem(18);
    border-bottom: 1px solid var(--gray-200);
    @include media-breakpoint-up(lg) {
      padding-bottom: rem(60);
      margin-bottom: rem(40);
    }
    .row {
      flex-direction: column;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
      & > * {
        flex-grow: 1;
      }
    }
  }
  .p-menubar-root-list {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
      margin-bottom: rem(60);
    }
  }
  .p-menubar {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    &-root-list {
      width: 100%;
    }
    .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
      padding: rem(12);
      &:hover {
        background-color: var(--surface-a);
      }
    }
  }
  .p-menuitem {
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: rem(12);
    }
    &-link {
      justify-content: center;
      background-color: var(--gray-50);
    }
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: rem(160);
    svg {
      font-size: rem(160);
      width: 1em;
      height: 0.3em;
    }
  }
  &__contacts {
    // @include roww('32px', '18px', 'm');
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    text-align: center;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      text-align: left;
    }
    &:not(:last-child) {
      margin-bottom: rem(18);
      @include media-breakpoint-up(lg) {
        margin-right: rem(32);
        margin-bottom: 0;
      }
    }
    span {
      font-size: rem(12);
      font-weight: 400;
      line-height: 1.33;
      margin-bottom: rem(4);
      color: var(--gray-500);
    }
    .h6 {
      color: var(--gray-700);
      font-size: rem(14);
      font-weight: 600;
      line-height: 1.42;
      margin-bottom: 0;
    }
  }
  &__contact-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40);
    height: rem(40);
    border-radius: rem(10);
    background-color: var(--gray-50);
    color: var(--gray-400);
    margin-bottom: rem(12);
    @include media-breakpoint-up(lg) {
      margin-right: rem(12);
      margin-bottom: 0;
    }
    .icons {
      font-size: rem(16);
    }
  }
  &__copyright {
    font-size: rem(14);
    line-height: 1.42;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
  &__info-link {
    @include mt;
    display: block;
    max-width: max-content;
    margin: 0 auto;
    opacity: 0.5;
    font-size: rem(13);
    line-height: 1.42;
    text-align: center;
    color: var(--gray-700);
    text-decoration: none;
    @include media-breakpoint-up(sm) {
      font-size: rem(14);
    }
    &:hover {
      color: $primaryColor;
    }
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }
  .p-scrolltop {
    position: relative;
    margin-left: auto;
    width: rem(44);
    height: rem(44);
    background-color: var(--gray-50);
    border-radius: rem(10);
    box-shadow: none;
    bottom: 0;
    right: 0;
    margin-left: rem(66);
    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }
    &:before {
      content: 'Наверх';
      position: absolute;
      display: block;
      // margin-right: rem(12);
      font-size: rem(14);
      line-height: 1.42;
      color: var(--gray-500);
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + rem(12));
    }
    svg {
      width: rem(10);
      height: rem(10);
      color: var(--gray-500);
    }
  }
  &__info-wrap {
    .row {
      flex-direction: column;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
    }
  }
}
