.form-wrap {
  .p-inputgroup {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }
  label {
    color: var(--gray-400);
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.42;
    margin-bottom: rem(10);
  }
  .p-inputwrapper {
    width: 100%;
  }
  .p-inputtext {
    width: 100% !important;
    height: auto !important;

    font-size: rem(14);
    line-height: 1.42;
    color: var(--gray-700);
    border-radius: rem(10);
    border: 1px solid var(--gray-200);
    padding: rem(11);
    background-color: var(--surface-a);
    &::placeholder {
      color: var(--gray-500);
    }
    &:not(:disabled):hover {
      border-color: rgba(219, 175, 79, 0.4);
    }
    &:focus {
      border-color: var(--primary-300);
      box-shadow: 0px 0px 0px 2px rgba(219, 175, 79, 0.48);
    }
    &.p-invalid {
      border-color: var(--system-critical-main);
      &:focus {
        box-shadow: none;
      }
    }
    &:disabled {
      color: var(--gray-500);
      background-color: var(--gray-50);
      border-color: var(--gray-200);
    }
  }
  textarea {
    min-height: rem(84);
  }
  .checkbox {
    margin-top: rem(24);
    margin-bottom: rem(24);
  }
  button {
    width: 100%;
    justify-content: center;
  }
  .p-dropdown {
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    .p-dropdown-trigger {
      display: none;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: rem(14);
      transform: translateY(-50%);
      width: rem(16);
      height: rem(16);

      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6.84151L4.8433 6L8 9.15432L11.1567 6L12 6.84389L8.8433 9.99583C8.61962 10.2194 8.31628 10.3451 8 10.3451C7.68372 10.3451 7.38038 10.2194 7.1567 9.99583L4 6.84151Z' fill='%236D7076'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 10;
    }
    background: var(--surface-a);
    .p-dropdown-items {
    }
  }
}
.p-dropdown-panel {
  background: var(--surface-a);
  color: var(--gray-700);
  .p-dropdown-item {
    background: var(--surface-a);
    color: var(--gray-700);
    &:hover {
      background-color: var(--primary-300);
      color: var(--grayscale-88);
    }
  }
}

.checkbox {
  position: relative;
  label {
    padding-left: rem(32);
    margin-bottom: 0;
    font-size: rem(12);
    font-weight: 400;
    line-height: 1.33;
    color: var(--gray-700);
    a {
      @include mt;
      text-decoration: none;
      color: var(--primary-300);
      &:hover {
        color: var(--primary-100);
      }
    }
  }
}
.p-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  // transform: translateY(-50%);
  &.p-highlight {
    .p-checkbox-box {
      background-color: var(--primary-300);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58306 10.7751C6.35598 10.7752 6.13819 10.6849 5.97775 10.5242L4.14769 8.69482C3.95077 8.49784 3.95077 8.17854 4.14769 7.98156C4.34467 7.78464 4.66397 7.78464 4.86095 7.98156L6.58306 9.70368L11.1391 5.14769C11.336 4.95077 11.6553 4.95077 11.8523 5.14769C12.0492 5.34467 12.0492 5.66397 11.8523 5.86095L7.18838 10.5242C7.02794 10.6849 6.81015 10.7752 6.58306 10.7751Z' fill='%23292D36'/%3E%3C/svg%3E%0A");
    }
  }
  .p-checkbox-box {
    width: rem(20);
    height: rem(20);
    border-radius: rem(4);
    border: 1px solid var(--primary-300);
    background-size: rem(16);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--surface-a);
    svg {
      display: none;
    }
  }
}
