.header {
  position: relative;
  padding: rem(11) 0;
  border-bottom: 1px solid var(--gray-200);
  @include media-breakpoint-up(lg) {
    padding: rem(12) 0;
  }
  &__row {
    display: flex;
    align-items: center;
    @include roww($m: m);
  }
  &__logo {
    display: flex;
    flex: 0 0 auto;
  }
  &__btn {
    .icons {
      margin-right: rem(10);
    }
  }
  .icons {
    &-logo {
      height: 0.3em;
      font-size: rem(133);
      @include media-breakpoint-up(lg) {
        font-size: rem(160);
      }
    }
  }
  .p-inputswitch {
    flex: 0 0 auto;
    width: rem(46);
    height: rem(24);
    position: relative;
    margin-left: auto;
    margin-right: rem(9);
    // @include media-breakpoint-up(lg) {
    //   margin-left: 0;
    //   margin-right: 0;
    // }
    &-slider {
      border-radius: rem(20);
      border: 1px solid var(--gray-100);
      background: var(--gray-50);
      padding: rem(1);
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='24' viewBox='0 0 46 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3644_44464)'%3E%3Cpath d='M12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5ZM12.5 8V6.5C12.5 6.225 12.275 6 12 6C11.725 6 11.5 6.225 11.5 6.5V8C11.5 8.275 11.725 8.5 12 8.5C12.275 8.5 12.5 8.275 12.5 8ZM12.5 17.5V16C12.5 15.725 12.275 15.5 12 15.5C11.725 15.5 11.5 15.725 11.5 16V17.5C11.5 17.775 11.725 18 12 18C12.275 18 12.5 17.775 12.5 17.5ZM8.5 12C8.5 11.725 8.275 11.5 8 11.5H6.5C6.225 11.5 6 11.725 6 12C6 12.275 6.225 12.5 6.5 12.5H8C8.275 12.5 8.5 12.275 8.5 12ZM18 12C18 11.725 17.775 11.5 17.5 11.5H16C15.725 11.5 15.5 11.725 15.5 12C15.5 12.275 15.725 12.5 16 12.5H17.5C17.775 12.5 18 12.275 18 12ZM9.355 9.355C9.55 9.16 9.55 8.845 9.355 8.65L8.355 7.65C8.16 7.455 7.845 7.455 7.65 7.65C7.455 7.845 7.455 8.16 7.65 8.355L8.65 9.355C8.75 9.455 8.875 9.5 9.005 9.5C9.135 9.5 9.26 9.45 9.36 9.355H9.355ZM16.355 16.355C16.55 16.16 16.55 15.845 16.355 15.65L15.355 14.65C15.16 14.455 14.845 14.455 14.65 14.65C14.455 14.845 14.455 15.16 14.65 15.355L15.65 16.355C15.75 16.455 15.875 16.5 16.005 16.5C16.135 16.5 16.26 16.45 16.36 16.355H16.355ZM8.355 16.355L9.355 15.355C9.55 15.16 9.55 14.845 9.355 14.65C9.16 14.455 8.845 14.455 8.65 14.65L7.65 15.65C7.455 15.845 7.455 16.16 7.65 16.355C7.75 16.455 7.875 16.5 8.005 16.5C8.135 16.5 8.26 16.45 8.36 16.355H8.355ZM15.355 9.355L16.355 8.355C16.55 8.16 16.55 7.845 16.355 7.65C16.16 7.455 15.845 7.455 15.65 7.65L14.65 8.65C14.455 8.845 14.455 9.16 14.65 9.355C14.75 9.455 14.875 9.5 15.005 9.5C15.135 9.5 15.26 9.45 15.36 9.355H15.355Z' fill='%239E9FA3'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1_3644_44464)'%3E%3Cpath d='M35.0009 17.9995C33.4101 17.9977 31.885 17.365 30.7601 16.2402C29.6353 15.1154 29.0026 13.5902 29.0009 11.9995C28.9244 7.52146 34.0164 4.50696 37.8964 6.75396L38.6729 7.18496L37.9014 7.62496C34.5514 9.46896 34.7964 14.56 38.3014 16.078L39.1119 16.4435L38.3784 16.9465C37.385 17.6312 36.2073 17.9984 35.0009 17.9995Z' fill='%239E9FA3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3644_44464'%3E%3Crect width='12' height='12' fill='white' transform='translate(6 6)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_3644_44464'%3E%3Crect width='12' height='12' fill='white' transform='translate(28 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &:before {
        background-color: var(--surface-a);
        width: rem(20);
        height: rem(20);
        left: rem(1);
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_881_3300)'%3E%3Cpath d='M10 12.5C8.62 12.5 7.5 11.38 7.5 10C7.5 8.62 8.62 7.5 10 7.5C11.38 7.5 12.5 8.62 12.5 10C12.5 11.38 11.38 12.5 10 12.5ZM10.5 6V4.5C10.5 4.225 10.275 4 10 4C9.725 4 9.5 4.225 9.5 4.5V6C9.5 6.275 9.725 6.5 10 6.5C10.275 6.5 10.5 6.275 10.5 6ZM10.5 15.5V14C10.5 13.725 10.275 13.5 10 13.5C9.725 13.5 9.5 13.725 9.5 14V15.5C9.5 15.775 9.725 16 10 16C10.275 16 10.5 15.775 10.5 15.5ZM6.5 10C6.5 9.725 6.275 9.5 6 9.5H4.5C4.225 9.5 4 9.725 4 10C4 10.275 4.225 10.5 4.5 10.5H6C6.275 10.5 6.5 10.275 6.5 10ZM16 10C16 9.725 15.775 9.5 15.5 9.5H14C13.725 9.5 13.5 9.725 13.5 10C13.5 10.275 13.725 10.5 14 10.5H15.5C15.775 10.5 16 10.275 16 10ZM7.355 7.355C7.55 7.16 7.55 6.845 7.355 6.65L6.355 5.65C6.16 5.455 5.845 5.455 5.65 5.65C5.455 5.845 5.455 6.16 5.65 6.355L6.65 7.355C6.75 7.455 6.875 7.5 7.005 7.5C7.135 7.5 7.26 7.45 7.36 7.355H7.355ZM14.355 14.355C14.55 14.16 14.55 13.845 14.355 13.65L13.355 12.65C13.16 12.455 12.845 12.455 12.65 12.65C12.455 12.845 12.455 13.16 12.65 13.355L13.65 14.355C13.75 14.455 13.875 14.5 14.005 14.5C14.135 14.5 14.26 14.45 14.36 14.355H14.355ZM6.355 14.355L7.355 13.355C7.55 13.16 7.55 12.845 7.355 12.65C7.16 12.455 6.845 12.455 6.65 12.65L5.65 13.65C5.455 13.845 5.455 14.16 5.65 14.355C5.75 14.455 5.875 14.5 6.005 14.5C6.135 14.5 6.26 14.45 6.36 14.355H6.355ZM13.355 7.355L14.355 6.355C14.55 6.16 14.55 5.845 14.355 5.65C14.16 5.455 13.845 5.455 13.65 5.65L12.65 6.65C12.455 6.845 12.455 7.16 12.65 7.355C12.75 7.455 12.875 7.5 13.005 7.5C13.135 7.5 13.26 7.45 13.36 7.355H13.355Z' fill='%236D7076'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_881_3300'%3E%3Crect width='12' height='12' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &.p-highlight .p-inputswitch-slider:before {
      transform: translateX(rem(22));
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_881_3509)'%3E%3Cpath d='M11.0009 15.9995C9.41008 15.9977 7.88496 15.365 6.76011 14.2402C5.63527 13.1154 5.00257 11.5902 5.00085 9.99946C4.92435 5.52146 10.0164 2.50696 13.8964 4.75396L14.6729 5.18496L13.9014 5.62496C10.5514 7.46896 10.7964 12.56 14.3014 14.078L15.1119 14.4435L14.3784 14.9465C13.385 15.6312 12.2073 15.9984 11.0009 15.9995Z' fill='%236D7076'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_881_3509'%3E%3Crect width='12' height='12' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  .p-inputswitch:not(.p-disabled):has(.p-inputswitch-input:focus-visible) .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
  .p-menubar {
    justify-content: center;
    order: 1;
    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      order: unset;
    }
    .p-menubar-root-list {
      @include roww('6px');
      @include media-breakpoint-up(xl) {
        --gutter-x: 12px;
      }
    }
    .p-menuitem {
      &:last-child {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
  &__btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40);
    height: rem(40);
    padding: 0;
    border-radius: rem(8);
    .icons {
      flex: 0 0 auto;
      font-size: rem(16);
    }
  }
}

.p-menubar {
  padding: 0;
  border: none;
  background-color: transparent;
  .p-menubar-root-list {
    background: var(--body-bg, #fff);
    box-shadow: none;
  }
  .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    @include mt;
    padding: rem(8) rem(12);
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.42;
    border-radius: rem(6);
    color: var(--gray-500);
    @include media-breakpoint-up(lg) {
      padding: rem(4) rem(6);
    }
    @include media-breakpoint-up(xl) {
      padding: rem(8) rem(12);
    }
    &:hover,
    &.active {
      background-color: var(--gray-50);
    }
    &:focus {
      background-color: var(--gray-200);
    }
    &.disabled {
      pointer-events: none;
      background-color: var(--surface-a);
      opacity: 0.6;
    }
    .icons {
      margin-right: rem(8);
    }
  }
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content,
  .p-menubar-root-list
    > .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background-color: var(--gray-50);
  }
  &.p-menubar-mobile {
    position: static;
    .p-menubar-root-list {
      left: 0;
      top: rem(64);
      width: 100%;
      margin: 0;
      padding: rem(12);
    }
    .p-menuitem {
      &:not(:last-child) {
        margin-bottom: rem(6);
        .p-menuitem-content {
          background-color: var(--gray-50);
        }
      }
      &:last-child {
        &:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
          background-color: transparent;
        }
      }
    }
    .p-menuitem-link {
      justify-content: center;
    }
    .p-button {
      width: 100%;
      margin-top: rem(6);
      justify-content: center;
      .p-button-label {
        flex-grow: 0;
        margin-left: rem(6);
      }
    }
    & .p-menubar-button:focus {
      box-shadow: none;
    }
    .p-menubar-button {
      @include mt;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(40);
      height: rem(40);
      border-radius: rem(8);
      background-color: var(--gray-50);
      color: var(--gray-700);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.60059' y='3.2002' width='12.8' height='1.2' rx='0.6' fill='%23292D36'/%3E%3Crect x='1.60059' y='7.2002' width='12.8' height='1.2' rx='0.6' fill='%23292D36'/%3E%3Crect x='1.60059' y='11.2002' width='12.8' height='1.2' rx='0.6' fill='%23292D36'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
      svg {
        display: none;
      }
    }
    &-active {
      .p-menubar-button {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.06045 7.99999L13.7803 3.28068C14.0732 2.9877 14.0732 2.51269 13.7803 2.21974C13.4873 1.92675 13.0123 1.92675 12.7193 2.21974L7.99999 6.93953L3.28068 2.21974C2.9877 1.92675 2.51269 1.92675 2.21974 2.21974C1.92678 2.51272 1.92675 2.98773 2.21974 3.28068L6.93953 7.99999L2.21974 12.7193C1.92675 13.0123 1.92675 13.4873 2.21974 13.7803C2.51272 14.0732 2.98773 14.0732 3.28068 13.7803L7.99999 9.06045L12.7193 13.7803C13.0123 14.0732 13.4873 14.0732 13.7802 13.7803C14.0732 13.4873 14.0732 13.0123 13.7802 12.7193L9.06045 7.99999Z' fill='%23292D36'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
