.sError {
  padding-top: rem(24);
  padding-bottom: rem(24);
  text-align: center;
  @include media-breakpoint-up(lg) {
    padding-top: rem(48);
    padding-bottom: rem(48);
  }
  span {
    color: var(--gray-500);
    font-size: rem(12);
    line-height: 1.33;
    margin-bottom: rem(24);
  }
  h1 {
    font-size: rem(32);
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: rem(-1.28);
    max-width: rem(1080);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(24);
    @include media-breakpoint-up(lg) {
      font-size: rem(72);
      line-height: 1.08;
      letter-spacing: rem(-2.88);
    }
  }
  p {
    color: var(--gray-500);
    font-size: rem(14);
    line-height: 1.42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(24);
    max-width: rem(720);
  }
  button {
    width: 100%;
    max-width: rem(220);
    justify-content: center;
  }
}
