.sGridCardItem {
  // display: flex;
  // align-items: center;
  width: max-content;
  margin-bottom: rem(15);
  margin-top: rem(15);
  display: grid;
  grid-template-columns: rem(32) rem(218);
  min-height: rem(74);
  position: relative;
  // &:has(.sGridCardItem__order)::after {
  //   content: '';
  //   top: calc(50% - #{rem(1)});
  //   width: rem(4);
  //   height: rem(2);
  //   right: rem(-8);
  //   background-color: var(--gray-700);
  //   position: absolute;
  // }

  &__order {
    font-size: rem(10);
    border-right: none;
    border: rem(1) solid var(--gray-200);
    border-radius: rem(6) 0 0 rem(6);
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .teams-group {
    display: flex;
    flex-direction: column;
    gap: rem(2);
    border-radius: 0 rem(6) rem(6) 0;
    overflow: hidden;
  }

  &--winner {
    grid-template-columns: 250px;
    border-radius: rem(6);
    overflow: hidden;
  }
  .p-button {
    padding: rem(6);
    border-radius: 0;
    justify-content: center;
  }
  &__settings {
    background-color: transparent;
    border: none;
    color: var(--gray-500);
    &:hover {
      color: var(--primary-300);
    }
  }
}

.sGridCard {
  font-weight: 600;
  font-size: rem(12);
  &__team {
    display: flex;
    align-items: center;
    height: rem(36);
    gap: rem(2);
    max-width: 100%;
  }
  &.team-success .sGridCard__score {
    background: var(--system-success-main);
    color: var(--primary-color-text);
  }
  &.team-winner .sGridCard__score {
    background: var(--primary-300);
    color: var(--text-color);
  }
  &__wrap {
    display: flex;
    align-items: center;
    gap: rem(8);
    background: var(--gray-200);
    padding: rem(4);
    width: 100%;
    height: 100%;
    max-width: calc(100% - #{rem(28 + 10)});
    color: var(--body-color);
    span {
      display: block;
      // max-width: calc(100% - #{rem(28 + 8)});
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .img {
    width: rem(28);
    height: rem(28);
    object-fit: cover;
    border-radius: rem(6);
  }

  &__score {
    width: rem(36);
    height: 100%;
    text-align: center;
    background: var(--gray-300);
    padding: rem(10) 0;
    flex-shrink: 0;
  }
  &__price {
    font-weight: 600;
    font-size: rem(12);
    padding: rem(4);
    background: var(--gray-200);
  }
  @include media-breakpoint-up(lg) {
  }
}
