.sHeaderBlock {
  padding-top: rem(12);
  &__wrap {
    display: flex;
    flex-direction: column;
    border-radius: rem(20);
    border: 1px solid var(--gray-100);
    padding: rem(30) rem(23);
    overflow: hidden;
    text-align: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      min-height: rem(380);
      justify-content: center;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        0deg,
        rgba(41, 45, 54, 0.48) 0%,
        rgba(41, 45, 54, 0.48) 100%
      );
      z-index: -1;
    }
  }
  h1 {
    color: #fff;
    letter-spacing: rem(-1.92);
    max-width: rem(960);
    margin: 0 auto;
  }
  &__text {
    margin-top: rem(12);
    font-size: rem(16);
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.64);
    max-width: rem(960);
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      margin-bottom: auto;
    }
    & > * {
      color: rgba(255, 255, 255, 0.64);
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: rem(6) rem(12);
    list-style-type: none;
    margin: rem(18) 0 0 0;
    padding: 0;
    @include media-breakpoint-up(lg) {
      margin: rem(48) 0 0 0;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    button {
      width: 100%;
      justify-content: center;
      background-color: rgba(12, 16, 26, 0.4);
      border-color: transparent;
      color: rgba(255, 255, 255, 0.64);
      backdrop-filter: blur(6px);
      &:hover,
      &.active {
        background-color: var(--primary-300);
        border-color: var(--primary-300);
        color: $textColor;
        backdrop-filter: none;
      }
      .icons {
        flex: 0 0 auto;
        font-size: rem(16);
        margin-right: rem(10);
      }
    }
  }
  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }
  &__author-img {
    flex: 0 0 auto;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(10);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__author-title {
    color: #fff;
    font-size: rem(12);
    font-weight: 600;
    line-height: 1.33;
    margin-right: rem(24);
  }
  &__author-date {
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.42;
    color: #9e9fa3;
  }
  &__btn {
    padding: rem(17) rem(24);
    width: 100%;
    max-width: rem(187);
    margin: rem(24) auto 0 auto;
  }
  &--content {
    .sHeaderBlock {
      &__wrap {
        min-height: rem(440);
        max-width: rem(960);
        margin: 0 auto;
        justify-content: flex-start;
        padding: rem(24);
        @include media-breakpoint-up(lg) {
          min-height: rem(480);
          text-align: left;
          padding: rem(48);
        }
        .sHeaderBlock__text,
        h1 {
          margin-left: 0;
        }
      }
    }
    .p-breadcrumb-list {
      margin: 0;
    }
  }
  &--max-height {
    .sHeaderBlock__wrap {
      min-height: rem(460);
      @include media-breakpoint-up(lg) {
        min-height: rem(600);
      }
    }
  }
  &--detailed {
    margin-bottom: rem(6);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(12);
    }
    h1 {
      margin-bottom: rem(18);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(24);
      }
    }
    .data-start {
      margin-bottom: rem(12);
      span {
      font-size: rem(14);
      opacity: .64;
      color: #FFF;
    }
    } 

    .header-item {
      margin-bottom: rem(18);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(24);
      }
    }
    .steps-wrap {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(12);
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .step {
      font-weight: 600;
      border-bottom: rem(3) solid #FFF;
      padding-bottom: rem(12);
      @include media-breakpoint-up(lg) {
        padding-bottom: rem(18);
      }
      &_active {
        border-color: var(--accent-primary-main);
      }
      p {
        color: #FFF;
        &:first-child {
          margin-bottom: rem(6);
        }
      }
      span {
        font-size: rem(14);
        opacity: .64;
        color: #FFF;
      }

    }
    .timer {
      display: flex;
      gap: rem(12);
      justify-content: center;
    }
    .timer__item {
      display: flex;
      flex-direction: column;
      p {
        font-size: rem(14);
        opacity: .64;
        color: #FFF;
        font-weight: 600;
      }
      span {
        font-weight: 700;
        font-size: rem(24);
        color: #FFF;
        position: relative;
        padding: rem(12);
        margin-bottom: rem(6);
        line-height: 133%;
        &::after {
          content: '';
          position: absolute;
          width: rem(57);
          height: rem(57);
          top: 0;
          left: 0;
          border-radius: rem(10);
          background: black;
          backdrop-filter: blur(12px);
          z-index: -1;
          opacity: .5;
        }
      }
    }
  }
}
