.sHeaderBlock {
  padding-top: rem(12);
  &__wrap {
    display: flex;
    flex-direction: column;
    border-radius: rem(20);
    border: 1px solid var(--gray-100);
    padding: rem(23) rem(30);
    overflow: hidden;
    text-align: center;
    @include media-breakpoint-up(lg) {
      min-height: rem(380);
      justify-content: center;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        0deg,
        rgba(41, 45, 54, 0.48) 0%,
        rgba(41, 45, 54, 0.48) 100%
      );
      z-index: -1;
    }
  }
  h1 {
    color: #fff;
  }
  .p-breadcrumb {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: rem(12);
    &-list {
      justify-content: center;
      .p-menuitem {
        font-size: rem(12);
        line-height: 1.33;
        a {
          @include mt;
          color: #fff;
          &:hover {
            color: var(--primary-300);
          }
        }
        &:last-child {
          color: rgba(255, 255, 255, 0.64);
        }
      }
      .p-menuitem-separator {
        margin: 0 rem(6);
        color: #fff;
      }
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: rem(6) rem(12);
    list-style-type: none;
    margin: rem(18) 0 0 0;
    padding: 0;
    @include media-breakpoint-up(lg) {
      margin: rem(48) 0 0 0;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  button {
    width: 100%;
    justify-content: center;
    background-color: rgba(12, 16, 26, 0.4);
    border-color: transparent;
    color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(6px);
    &:hover,
    &.active {
      background-color: var(--primary-300);
      border-color: var(--primary-300);
      color: $textColor;
      backdrop-filter: none;
    }
  }
}
