.sHeaderBlock {
  padding-top: rem(12);
  &__wrap {
    display: flex;
    flex-direction: column;
    border-radius: rem(20);
    border: 1px solid var(--gray-100);
    padding: rem(30) rem(23);
    overflow: hidden;
    text-align: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      min-height: rem(380);
      justify-content: center;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        0deg,
        rgba(41, 45, 54, 0.48) 0%,
        rgba(41, 45, 54, 0.48) 100%
      );
      z-index: -1;
    }
  }
  h1 {
    color: #fff;
    letter-spacing: rem(-1.92);
    max-width: rem(960);
    margin: 0 auto;
  }
  p {
    margin-top: rem(12);
    font-size: rem(16);
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.64);
    max-width: rem(960);
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      margin-bottom: auto;
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: rem(6) rem(12);
    list-style-type: none;
    margin: rem(18) 0 0 0;
    padding: 0;
    @include media-breakpoint-up(lg) {
      margin: rem(48) 0 0 0;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    button {
      width: 100%;
      justify-content: center;
      background-color: rgba(12, 16, 26, 0.4);
      border-color: transparent;
      color: rgba(255, 255, 255, 0.64);
      backdrop-filter: blur(6px);
      &:hover,
      &.active {
        background-color: var(--primary-300);
        border-color: var(--primary-300);
        color: $textColor;
        backdrop-filter: none;
      }
    }
  }
  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }
  &__author-img {
    flex: 0 0 auto;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(10);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__author-title {
    color: #fff;
    font-size: rem(12);
    font-weight: 600;
    line-height: 1.33;
    margin-right: rem(24);
  }
  &__author-date {
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.42;
    color: #9e9fa3;
  }
  &__btn {
    padding: rem(17) rem(24);
    width: 100%;
    max-width: rem(187);
    margin: rem(24) auto 0 auto;
  }
  &--content {
    .sHeaderBlock {
      &__wrap {
        min-height: rem(440);
        max-width: rem(960);
        margin: 0 auto;
        justify-content: flex-start;
        padding: rem(24);
        @include media-breakpoint-up(lg) {
          min-height: rem(480);
          text-align: left;
          padding: rem(48);
        }
        p,
        h1 {
          margin-left: 0;
        }
      }
    }
    .p-breadcrumb-list {
      margin: 0;
    }
  }
  &--max-height {
    .sHeaderBlock__wrap {
      min-height: rem(460);
      @include media-breakpoint-up(lg) {
        min-height: rem(600);
      }
    }
  }
}
