.sMyProfileBlock {
  &__row {
    --gutter-x: 0;
    --gutter-y: #{rem(24)};
    flex-direction: column;
    align-items: stretch;
    @include media-breakpoint-up(lg) {
      --gutter-x: #{rem(20)};
      --gutter-y: 0;
      flex-direction: row;
    }
  }
  &__head {
    padding: rem(18);
    border-radius: rem(6);
    background-color: var(--gray-50);
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.42;
    color: var(--gray-700);
    margin-bottom: rem(18);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(24);
    }
  }
  &__head-row {
    margin-bottom: rem(18);
  }
  .template {
    overflow-x: auto;
    overflow-y: hidden;
    .btn-wrap {
      min-width: max-content;
    }
    h3 {
      margin-bottom: 0;
    }
  }
  .form-wrap {
    .p-inputgroup {
      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: rem(12);
        }
        label {
          margin-bottom: 0;
          width: auto;
          margin-right: rem(20);
          min-width: rem(160);
        }
      }
    }
    .p-dropdown-label-empty {
      opacity: 1;
    }
    button {
      display: block;
      max-width: max-content;
      margin-left: auto;
      margin-top: rem(18);
      @include media-breakpoint-up(md) {
        margin-top: rem(24);
      }
    }
  }
  .p-datatable {
    table {
      th {
        &:nth-child(1) {
          min-width: rem(168);
          @include media-breakpoint-up(lg) {
            width: rem(280);
          }
        }
        &:nth-child(2) {
          min-width: rem(168);
          @include media-breakpoint-up(lg) {
            width: rem(280);
          }
        }
        &:nth-child(3) {
          min-width: rem(168);
          @include media-breakpoint-up(lg) {
            width: rem(280);
          }
        }
        &:nth-child(4) {
          min-width: rem(168);
          @include media-breakpoint-up(lg) {
            width: rem(280);
          }
        }
      }
    }
  }
}
