.sNewsCard {
  display: flex;
  flex-direction: column;
  background: var(--gray-50);
  color: var(--gray-500);
  box-shadow: none;
  border-radius: rem(12);
  border: 1px solid var(--gray-100);
  &__img-wrap {
    @include ratio(280, 411);
    position: relative;
  }
  .p-card-title {
    margin-bottom: rem(12);
  }
  .p-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: rem(23);
    @include media-breakpoint-up(lg) {
      padding: rem(19);
    }
  }
  .p-card-content {
    padding: 0;
  }
  .p-card-footer {
    margin-top: auto;
  }
  .date {
    padding: rem(3) rem(7);
    font-size: rem(10);
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.2px;
    border: 1px solid var(--gray-200);
    color: var(--gray-500);
    margin-bottom: rem(12);
    max-width: max-content;
    border-radius: rem(6);
  }
  h5 {
    font-size: rem(18);
    color: var(--gray-700);
    @include media-breakpoint-up(lg) {
      font-size: rem(24);
    }
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: rem(14);
    line-height: 1.42;
  }
  button {
    width: 100%;
  }
}
