.sTournamentOverview {
  // padding-bottom: rem(6);
  // @include media-breakpoint-up(lg) {
  //   padding-bottom: rem(12);
  // }
  &__head {
    background-color: var(--gray-50);
    border-radius: rem(20);
    text-align: center;
    padding: rem(6);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(6);
    margin-bottom: rem(6);
    @include media-breakpoint-up(lg) {
      padding: rem(12);
      gap: rem(12);
      // grid-template-columns: repeat(5, 1fr);
      grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
      margin-bottom: rem(12);
    }
    &--small {
      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
        .head-item:last-child {
          grid-column: span 1 !important;
        }
      }
    }
  }
  .head-item {
    border-radius: rem(10);
    background: var(--bg-colorPrimary, #FFF);
    padding: rem(12);
    p {
      font-weight: 600;
      &:first-child {
        margin-bottom: rem(2);
      }
    }
    span {
      font-size: rem(12);
      color: var(--gray-500);
    }
    &:last-child {
      grid-column: span 2;
      @include media-breakpoint-up(lg) {
        grid-column: span 1;
      }
    }
  }

  &__info {
    font-weight: 600;
    font-size: rem(14);
    border-radius: rem(10);
    margin-bottom: rem(24);
    display: flex;
    align-items: center;
    gap: rem(12);
    padding: rem(12) rem(18);
    @include media-breakpoint-up(lg) {
      padding: rem(22) rem(18);
      // margin-bottom: rem(48);
    }
    svg {
      flex-shrink: 0;
    }
    background: var(--bg-info-subdued, rgba(97, 128, 255, 0.12));
  }

  &__wrap {
    border-radius: rem(20);
    border: 1px solid var(--gray-100);
    h3 {
      padding-bottom: rem(24);
      margin-bottom: rem(18);
      border-bottom: 1px solid var(--gray-200);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(24);
      }
    }
    h5 {
      margin-bottom: rem(18);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(24);
      }
    }
  }
  .div {
    border-bottom: 1px solid var(--gray-100);
    overflow: auto;
  }
  .wrap-header {
    margin: auto;
    width: min-content;
    display: flex;
    .link-wrap {
    }
    a {
      padding: rem(20) rem(18);
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      color: var(--gray-500);
      text-wrap: nowrap;
      &.active {
        color: var(--text-colorprimary);
        border-bottom: 2px solid var(--accent-primary-main);
      }
      span {
        color: var(--body-color);
        background: var(--accent-primary-main);
        padding: rem(4) rem(8);
        border-radius: rem(6);
        font-size: rem(10);
        margin-left: rem(6);
      }
    }
  }
  .wrap-body {
    padding: rem(24);
    @include media-breakpoint-up(lg) {
      padding: rem(48);
    }
  }
  .wrap-footer {
    border-top: 1px solid var(--gray-100);
    display: flex;
    gap: rem(20);
    align-items: center;
    justify-content: center;
    padding: rem(24);
    &__title {
      font-weight: 600;
      font-size: rem(14);
      color: var(--gray-500);
    }
    &__icons {
      display: flex;
      gap: rem(6);
    }
  }

  &__title-item {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(24);
    }
    p {
      font-weight: 600;
      line-height: 137%;
      margin-bottom: rem(24);
    }
    ul {
      padding-left: 0;
    }
    li {
      margin-bottom: rem(12);
      list-style-type: none;
      font-size: rem(14);
    }
    li::before {
      color: var(--accent-primary-main);
      content: "•";
      padding-right: 10px;
    }
  }

  &__descr {
    padding: rem(24);
    border-left: rem(3) solid var(--accent-primary-main);
    margin-bottom: rem(18);
    background: var(--bg-caution-subdued);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(24);
    }
    display: flex;
    flex-direction: column;
    gap: rem(12);
    p {
      font-size: rem(14);
      line-height: 143%;
      span {
        color: var(--gray-500);
      }
      a {
        color: var(--text-colorprimary);
      }
    }
  }

  &--rules {
    .sTournamentOverview__title-item {
      margin-bottom: 0;
    }
    .wrap-body {
      // border: none;
    }
    h4 {
      margin-bottom: rem(24);
    }
    ul {
      margin-bottom: rem(24);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(48);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    li::before {
      content: none;
    }
    li {
      line-height: 143%;
      display: flex;
      gap: rem(12);
    }
    li span {
      color: var(--accent-primary-main);
      width: rem(36);
      display: inline-block;
      flex-shrink: 0;
    }
    .small span {
      width: auto;
    }
    .template {
      border: none;
      padding: 0;
    }
  }

  &--contacts {
    .cards-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(6);
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(12);
      }
    }
    .sContactBlock__profile-info {
      background-color: var(--gray-50);
      padding: rem(12);
      border-radius: rem(10);
      margin-bottom: 0;
      text-align: center;
      span {
        font-size: rem(12);
      }
      a {
        color: var(--body-color);
        font-weight: 600;
      }
    }
    .template {
      border: none;
      padding: 0;
    }
  }
  &--participants {
    td:last-child {
      text-align: right;
      opacity: .6;
    }
    tr:last-child, tr:last-child td {
      border: none;
    }
    .template {
      border: none;
      padding: 0;
    }
    .p-datatable:after {
      content: none;
    }

    .title-wrap {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: rem(6);
      margin-bottom: rem(24);
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .buttons {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(6);
      .secondary {
        color: var(--grayscale-60);
        border-color: var(--grayscale-11);
      }
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(20);
        &.mr-1 {
          margin-right: rem(10);
        }
        &.ml-1 {
          margin-left: rem(10);
        }
      }
      span {
        font-weight: 400;
      }
      button {
        justify-content: center;
      }
    }
    .title-span {
      font-weight: 700;
      font-size: rem(20);
      line-height: 120%;
      color: var(--grayscale-11);
      padding: rem(12) 0;
      border-bottom: 1px solid var(--gray-100);
      text-align: center;
      margin-bottom: rem(6);
      @include media-breakpoint-up(lg) {
        font-size: rem(30);
        &_border {
          border-right: 1px solid var(--gray-100);
        }
      }
    }
    .table--schedule {
      tr td:nth-child(2) div {
        justify-content: flex-end;
        gap: rem(10);
      }
      tr td:nth-child(3) {
        text-align: center;
      }
      th:nth-child(3) div {
        justify-content: center;
      }
      td:last-child {
        opacity: 1;
      }
      .rating {
        font-weight: 600;
      }
    }
  }

  &--referee {
    .active-btn {
      width: 100%;
      min-height: rem(68);
      &.danger {
        background: rgb(236, 97, 76, .12);
      }
    }
    .wrap-body__item {
      margin-bottom: rem(24);
    }
    .dashed {
      border: dashed 1px;
    }

    .game {
      display: flex;
      flex-direction: column;
      gap: rem(12);
      margin-bottom: rem(24);

      .btn-trash {
        background: none;
        border: none;
        padding: 0 rem(5);
        svg {
          font-size: rem(20);
        }
      }
      &__title {
        display: flex;
        align-items: center;
      }

      &__card {
        border: 1px solid var(--gray-100);
        padding: rem(12) rem(18);
        background: var(--grayscale-4);
        border-radius: rem(12);
        display: flex;
        flex-direction: column;
        gap: rem(12);
          @include media-breakpoint-up(lg) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .btn-trash {
          border-left: 1px solid var(--gray-100);
          border-radius: 0;
          padding: 0;
          padding-left: rem(18);
          height: 100%;
        }
      }

      .table-wrap {
        display: flex;
        align-items: center;
        &:first-child {
          gap: rem(18);
          flex-shrink: 0;
        }
        &:last-child {
          justify-content: space-between;
        }
        span {
          font-weight: 600;
        }
        img {
          width: rem(44);
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: rem(6);
        font-size: rem(14);
        @include media-breakpoint-up(lg) {
          flex-direction: row;
          gap: rem(24);
          margin-right: rem(18);
        }
        .success {
          font-weight: 600;
          color: var(--system-success-main);
        }
      }

      .btn-small {
        @include media-breakpoint-up(lg) {
          width: max-content;
        }
      }

      .danger {
        font-weight: 600;
        color: var(--system-critical-main);
      }
      .secondary {
        font-weight: 600;
        color: var(--system-neutral-main);
      }
      .purple {
        color: var(--accent-secondary-main);
      }
    }

    .template {
      border: none;
      padding: 0;
    }
  }

  &--grid {
    margin-bottom: rem(6);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(12);
    }
    .tournament-table {
      .row {
        --gutter-x: #{rem(20)};
      }
      padding: rem(24);
      background: var(--grayscale-4);
      overflow: auto;
      &__item:not(:last-child) {
        margin-bottom: rem(48);
      }
      &__item-title {
        font-weight: 600;
        font-size: rem(14);
        margin-bottom: rem(18);
      }
      &__title-row {
        margin-bottom: rem(18);
      }
      &__title-col {
        background: var(--grayscale-11);
        padding: rem(4) 0;
        p {
          width: rem(250);
          text-align: center;
          font-size: rem(12);
          font-weight: 600;
        }
      }
      &__col {
        justify-content: space-around;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
        &:last-child .tournament-table__group {
          &::after, &::before {
            content: none;
          }
        }
      }
      &__group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        flex-grow: 1;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 50%;
          right: rem(-8);
          width: rem(4);
          border: rem(2) solid var(--grayscale-black);
          border-left: none;
          z-index: 2;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: rem(4);
          height: rem(2);
          right: rem(-12);
          background-color: var(--grayscale-black);
        }
        &--single {
          &::before {
            border-bottom: none;
            transform: translateY(0);
            height: 38%;
          }
          &::after {
            top: 89%;
          }
        }
        &--small {
          &::before {
            content: none;
          }
          &::after {
            width: rem(12);
            right: calc(-1 * var(--gutter-x));
          }

        }
      }
    }
    .template {
      border: none;
      padding: 0;
    }
    .row-low {
      margin-top: rem(60);
      .col-auto:first-child {
        transform: translateY(rem(-36));
      }
    }
  }
}

.game-item {
  &__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: rem(14);
    gap: rem(12);
    margin-bottom: rem(12);
    .p-badge {
      font-size: rem(10);
      padding: rem(4) rem(8);
      line-height: 160%;
    }
  }
  &__card {
    border: 1px solid var(--gray-100);
    padding: rem(12) rem(18);
    border-radius: rem(12);
    margin-bottom: rem(12);
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .p-button {
      width: min-content;
      max-width: rem(101);
    }
    .btn-wrapper {
      @include media-breakpoint-up(md) {
        padding: rem(18) 0 rem(18) rem(18);
        border-left: 1px solid var(--gray-100);
        height: 100%;
      }
    }
    .team-img {
      width: rem(44);
      border: 1px solid var(--gray-100);
      border-radius: rem(12);
    }
    .success {
      font-weight: 600;
      color: var(--system-success-main);
    }
    .danger {
      font-weight: 600;
      color: var(--system-critical-main);
    }
    .secondary {
      font-weight: 600;
      color: var(--system-neutral-main);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(6);
    font-size: rem(14);
    margin-bottom: rem(12);
    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: rem(24);
    }
  }
}

.p-dialog {
  .btn-flex {
    gap: rem(12);
    flex-direction: column;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
  .p-button-contrast {
    background: var(--grayscale-4);
    border: var(--grayscale-4);
  }
}
.p-dialog-big {
  max-width: rem(730);
    max-height: rem(837);
  // .p-dialog-content {
  //   overflow: auto;
  // }
}